[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=SNI Notification area
Name[ru]=Системный лоток SNI
Comment=Area where StatusNotifierItem's appear
Comment[ru]=Область для отображения StatusNotifierItem'ов
Icon=applications-system
X-XFCE-Module=snw
X-XFCE-Unique=true
X-XFCE-API=1.0
